@media only screen and (max-width: 1050px) {
  .about_heading {
    gap: 0 2em;
  }
  .about_box,
  .boxes {
    gap: 1em;
  }
  .box1_text .btn {
    padding: 9px;
    font-size: 15px;
  }
  .left_box .heading {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 850px) {
  .nav_items {
    position: absolute;
    top: -1%;
    left: 0;
    width: 100%;
    padding: 5em 0em 2em 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.9rem;
    background-color: #000;
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
  }
  .nav_items.open {
    transform: translateY(0);
  }
  .item {
    flex-direction: column;
  }
  .nav_menu {
    display: block;
    font-size: 2em;
  }
  .boxes,
  .about_box {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact_box {
    grid-template-columns: 1fr;
  }
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 660px) {
  .about_heading {
    grid-template-columns: 1fr;
  }
  .about .para {
    grid-column: 1;
  }
  .boxes,
  .about_box {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar {
    padding: 2rem 2rem;
  }
  .heading {
    font-size: 3em;
  }
  .heading_1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 480px) {
  .footer_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn {
    padding: 9px;
    font-size: 15px;
  }
  .main {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .contact_box {
    grid-template-columns: 1fr;
  }

  .right_box {
    margin-top: 30px;
  }
}
